<html>
<body>
<div class="container">
    <div class="grid">
        <div class="grid__col grid__col--1-of-4">
            <label>Email: </label>
            <input type="text"
                   name="email"
                   placeholder="Email"/>
        </div>
        <div class="grid__col grid__col--3-of-4">
            <label>Email: </label>
            <input type="text"
                   name="email"
                   placeholder="Email"/>
        </div>
        <div class="grid__col grid__col--6-of-12">
            <label>Email: </label>
            <input type="text"
                   name="email"
                   placeholder="Email"/>
        </div>
    </div>


</div>
</body>
</html>

